@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.skills {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../static/skills-bg.jpg) no-repeat center center scroll;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../static/skills-bg.jpg) no-repeat center center scroll;
  overflow: hidden;
  background-size: cover;
}

.skills .container {
  color: white;
  min-height: 100vh;
}

.skills .container .card-box h2 {
  margin: 15px 0 0 0;
}

.skills .container .card-box img {
  width: 100px;
  height: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.skills .container .card-box img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.skills .container .card-box i {
  font-size: 100px;
}

.skills .container .achievements {
  padding-top: 70px;
}

.skills .container .achievements .card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills .container .achievements .card-row .card {
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  width: 300px;
  min-height: 400px;
  padding: 50px;
  color: black;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.skills .container .achievements .card-row .card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.skills .container .achievements .card-row .card img {
  width: 222px;
  height: 222px;
}

.skills .container .achievements .card-row .card .card-body {
  margin: 20px 0 0 0;
}

.skills .container .achievements .card-row .card .card-body .card-title {
  font-size: 20px;
}

.skills .container .achievements .card-row .card .card-body .card-btn {
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
}

.skills .container .achievements #view-more {
  padding: 10px 35px;
  border-radius: 10px;
  color: black;
  font-weight: 700;
  position: relative;
  left: 45%;
  top: 20px;
}
.bg-light {
  background: white;
}


.skills .container .achievements .card-row .card .card-body .card-btn {
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
}

.bg-dark {
  background: #212529;
}

.no-txt-decor {
  text-decoration: none;
}

.card-box img {
  width: 100px;
  height: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.is-inline-block {
  display: inline-block;
}

img {
  width: 150px;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}